/**  调整内容离屏幕边缘的距离  **/
.layui-form { padding: 50px 100px 0 20px; }
body { color: #657180; font-size: 12px; }
.layui-form-radio * { font-size: 12px; }

/** 三个input框和一个textarea对齐 【create】**/
.x-admin-sm .layui-input { height: 38px; }
.layui-form-label {width: 51%; padding:9px 15px; box-sizing:border-box;}
.layui-form-item .layui-input-inline { margin-right: 0; width: 49%;}
.layui-form-item .layui-inline { margin-right: 0 }
.layui-form-text .layui-inline .layui-form-label { width: 17%; }
.layui-form-text .layui-inline div { width: 83%; float: left; }
/** textarea调整高度 **/
.x-admin-sm .layui-textarea  { height: 150px; }

/** 修改默认input框hover颜色、圆角和focus颜色阴影 【create】**/
.layui-input:focus, .layui-textarea:focus {outline:0;box-shadow:0 0 0 3px rgba(51,153,255,.2);border-color:#5cadff !important}
.layui-input:hover, .layui-textarea:hover {border-color: #5cadff !important;}
.layui-input, .layui-textarea {border-radius: 10px;}

/** 必填项加*号 【create】**/
.layui-form-label:before {
        content: '*';
        display: inline-block;
        margin-right: 4px;
        line-height: 1;
        font-family: SimSun;
        font-size: 12px;
        color: #f30;
}
