/** 改变导航hover颜色 【公共】**/
span.layui-nav-bar { height: 2.6px; background-color: #ffd700; }

/** 消除左侧导航栏预留空间 【公共】**/
.layui-body, .layui-layout-admin .layui-footer { left: 0; }
.layui-layout-admin .layui-footer {text-align: center;}

/**  增加顶部margin 【公共】**/
body {color: #657180; font-size: 12px;}
.layui-form-radio * { font-size: 12px; }
/** 消除layui-inline margin-right，以便使用栅格布局 【create】**/
.layui-form-item .layui-inline { margin-right: 0; }

/** 卡片效果 【公共】**/
body { background:#eee; }
.layui-content { margin: 20px 60px 0; background:#fff; border-radius: 10px; padding-top: 15px;}
.layui-layout-admin .layui-footer {text-align: center;width:100%;height:60px;line-height:60px;background-color: #fff;}

/* 左工具栏对齐 【list】 */
.layui-table-tool .layui-form-label { width: 100px; }
.layui-table-tool .layui-form-item .layui-inline { width: 230px; }
.layui-table-tool .layui-form-item .layui-input-inline { width: 49%; }

/* 工具栏背景色 【list、link】 */
.layui-table-tool { background-color: #fff; }

/* 表头背景色、字体大小 【list、link】 */
th { background-color: #F0F8FF; font-wight: bold; }
/* 表格标题和数据字体 */
.layui-table td, .layui-table th { font-size: 12px; }

/* 进度条垂直方向居中 【list、link】 */
.progress_bar { margin-top: 5px; }

/** 修改默认input框hover颜色、圆角和focus颜色阴影 【create】**/
.layui-input:focus, .layui-textarea:focus {outline:0;box-shadow:0 0 0 3px rgba(51,153,255,.2);border-color:#5cadff !important}
.layui-input:hover, .layui-textarea:hover {border-color: #5cadff !important;}
.layui-input, .layui-textarea {border-radius: 10px;}

/** 必填项加*号 【create】**/
.layui-form-label:before {
        content: '*';
        display: inline-block;
        margin-right: 4px;
        line-height: 1;
        font-family: SimSun;
        font-size: 12px;
        color: #f30;
}